html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 14px/1.5 Arial;
}

.all > header div {
    font-size: 16px;
    margin-top: 10px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: color;
}

body > .all {
    display: grid;
    grid: auto auto / 1fr 800px 1fr;
}

@media (max-width: 1000px){
    body > .all {
        grid: auto auto /1fr 650px 1fr;
    }
}

@media (max-width: 650px){
    body > .all {
        grid: auto auto /10px 1fr 10px;
    }
}

header {
    background: grey;
    text-align: center;
    grid-area: 1/1/2/4;
}

main {
    grid-area: 2/2/3/3;
    display: grid;
    grid: auto / 1fr 2fr;
}

@media (max-width: 1000px) {
        main {
            grid-area: 2/2/3/3;
            display: grid;
            grid: auto auto / auto;
        }
}

.column-1 {
    grid-area: 1/1/2/2;
}

@media (max-width: 1000px) {
    .column-1 {
        grid-area: 1/1/2/2;
    }
}

.column-1 > section {
    display: grid;
    grid: auto auto / 35px auto 1fr;
}

.column-1 span {
    grid-area: 1/1/2/2;
}

.column-1 h2 {
    grid-area: 1/2/2/4;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.column-1 ul {
    grid-area: 2/2/3/4;
    padding: 10px;
}

.column-1 .detail {
    grid-area: 2/2/3/4;
}

.map .detail dd {
    height: 3px;
    margin: 8px 0 16px 0;
    border-radius: 3px;
    background: #ccc;
}

.map .detail .bar {
    display: block;
    height: 3px;
    background: #77a8a3;
}

.column-2 {
    grid-area: 1/2/2/3;
    margin-left: 40px;
}

@media (max-width: 1000px) {
    .column-2 {
        grid-area: 2/1/3/2;
    }
}

.column-2 > section {
    display: grid;
    grid: auto auto auto / 60px auto auto 1fr;
}

.column-2 span {
    grid-area: 1/1/2/2;
}

.column-2 h2 {
    grid-area: 1/2/2/5;
    display: flex;
    align-items: center;
}

.column-2 .time-line {
    grid-area: 2/2/3/3;
    margin-right: 20px;
}

.column-2 .content {
    grid-area: 2/3/3/4;
    font-size: 16px;
    font-weight: bold;
}

.column-2 .content-sec {
    grid-area: 2/4/3/5;
    margin-left: auto;
}

.column-2 .content-thr  {
    grid-area: 3/2/4/5;
}

.column-2 ul {
    grid-area: 3/2/4/5;
}

main h2::after {
    content:'';
    height: 3px;
    flex: 1;
    background: #77a8a3;
    margin-left: 20px;
 
}

section > .iconfont {
    grid-area: 1/1/2/2;
    background: #77a8a3;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 14px;
}

.ul-none {
    list-style-type: none;
}


